In [1]:
#pandas is a libray it contains functions related to the database
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
#Now we are going to convert categorial data column (Sex and Smoker) as Numerical numbers using One Hot Encoding 
dataset=pd.get_dummies(dataset,drop_first=True) # Nominal data to adrenal data get, while giving drop_first=True function it'll drop extra column.,drop_first=True
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
dataset.columns #It'll show all dataset columns. we can use it for further process related.

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
#Input and output split
#Data was already preprocessed. Now we are going to perform Input and output variables split
indep=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']] 
indep #Now 'age', 'bmi', 'children', 'sex_female', 'sex_male','smoker_no', 'smoker_yes' column values seperately assigned into independent varaiable, Independent means input, Dependent means output.

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
#Now 'charges' column value seperately assigned into dependent varaiable, dependent means output.
dep=dataset[["charges"]] #Now charges value seperately assigned into dependent varaiable,
dep
#Now we got seperatley independent and dependent varaiables. now sucessfully splited input and output

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [7]:
#Model Creation
#ML algorithm all are provided by sklearn, we are creting this Model using trainset and tesset varaiable. 
from sklearn.model_selection import GridSearchCV #sklearn.model_selection import GridSearchCV, here GridSearchCV means create table and validate all the parameter values in multiple angle/combination. CV means cross validation.
#Using GridSerachCV(CV-cross validation) means create table in box and check all combination of parameters values and providing results in multiple angle like above.
#GridSerachCV--cross validation going to happen and it's related Gridsearch also going to perform here
from sklearn.tree import DecisionTreeRegressor # While calling, this line loaded into memory. here SVR may be function or class. In this line SVR considered as class
param_grid={'criterion':['mse','mae','friedman_mse'],
           'max_features': ['auto','sqrt','log2'],
            'splitter':['best','random']}
grid=GridSearchCV(DecisionTreeRegressor(),param_grid,refit=True, verbose=3,n_jobs=1) #Here we calling GridSearchCV() and here we are passing SVR and passing parameters.refit=True means which one is best model take it as last model(). GridSearchCV() final output use it for best model. 'refit=False' means it will take last combination as (c:300, gmma:scale) like that only it'll take. 
grid.fit(indep,dep) #fit function we are calling it using access operator, now passing splited trainset input and output.
#while executing above step fit() method model has been created. we got total model 120 model combination created.n_jobs=-1 means parallely running all models. once executed this it'll show all the executed parameter details.
#All models saved under grid varaiable.

C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.0s remaining:    0.0s

Fitting 3 folds for each of 18 candidates, totalling 54 fits
[CV] criterion=mse, max_features=auto, splitter=best .................
[CV]  criterion=mse, max_features=auto, splitter=best, score=0.702, total=   0.0s
[CV] criterion=mse, max_features=auto, splitter=best .................
[CV]  criterion=mse, max_features=auto, splitter=best, score=0.644, total=   0.0s
[CV] criterion=mse, max_features=auto, splitter=best .................
[CV]  criterion=mse, max_features=auto, splitter=best, score=0.694, total=   0.0s
[CV] criterion=mse, max_features=auto, splitter=random ...............
[CV]  criterion=mse, max_features=auto, splitter=random, score=0.659, total=   0.0s
[CV] criterion=mse, max_features=auto, splitter=random ...............
[CV]  criterion=mse, max_features=auto, splitter=random, score=0.684, total=   0.0s
[CV] criterion=mse, max_features=auto, splitter=random ...............
[CV]  criterion=mse, max_features=auto, splitter=random, score=0.707, total=   0.0s
[CV] criterion=mse, max_features=sqrt, splitter=best .................
[CV]  criterion=mse, max_features=sqrt, splitter=best, score=0.702, total=   0.0s
[CV] criterion=mse, max_features=sqrt, splitter=best .................
[CV]  criterion=mse, max_features=sqrt, splitter=best, score=0.707, total=   0.0s
[CV] criterion=mse, max_features=sqrt, splitter=best .................
[CV]  criterion=mse, max_features=sqrt, splitter=best, score=0.725, total=   0.0s
[CV] criterion=mse, max_features=sqrt, splitter=random ...............
[CV]  criterion=mse, max_features=sqrt, splitter=random, score=0.664, total=   0.0s
[CV] criterion=mse, max_features=sqrt, splitter=random ...............
[CV]  criterion=mse, max_features=sqrt, splitter=random, score=0.669, total=   0.0s
[CV] criterion=mse, max_features=sqrt, splitter=random ...............
[CV]  criterion=mse, max_features=sqrt, splitter=random, score=0.612, total=   0.0s
[CV] criterion=mse, max_features=log2, splitter=best .................
[CV]  criterion=mse, max_features=log2, splitter=best, score=0.674, total=   0.0s
[CV] criterion=mse, max_features=log2, splitter=best .................
[CV]  criterion=mse, max_features=log2, splitter=best, score=0.593, total=   0.0s
[CV] criterion=mse, max_features=log2, splitter=best .................
[CV]  criterion=mse, max_features=log2, splitter=best, score=0.687, total=   0.0s
[CV] criterion=mse, max_features=log2, splitter=random ...............
[CV]  criterion=mse, max_features=log2, splitter=random, score=0.759, total=   0.0s
[CV] criterion=mse, max_features=log2, splitter=random ...............
[CV]  criterion=mse, max_features=log2, splitter=random, score=0.672, total=   0.0s
[CV] criterion=mse, max_features=log2, splitter=random ...............
[CV]  criterion=mse, max_features=log2, splitter=random, score=0.705, total=   0.0s
[CV] criterion=mae, max_features=auto, splitter=best .................
[CV]  criterion=mae, max_features=auto, splitter=best, score=0.690, total=   0.0s
[CV] criterion=mae, max_features=auto, splitter=best .................
[CV]  criterion=mae, max_features=auto, splitter=best, score=0.723, total=   0.0s
[CV] criterion=mae, max_features=auto, splitter=best .................
[CV]  criterion=mae, max_features=auto, splitter=best, score=0.673, total=   0.0s
[CV] criterion=mae, max_features=auto, splitter=random ...............
[CV]  criterion=mae, max_features=auto, splitter=random, score=0.661, total=   0.0s
[CV] criterion=mae, max_features=auto, splitter=random ...............
[CV]  criterion=mae, max_features=auto, splitter=random, score=0.647, total=   0.0s
[CV] criterion=mae, max_features=auto, splitter=random ...............
[CV]  criterion=mae, max_features=auto, splitter=random, score=0.702, total=   0.0s
[CV] criterion=mae, max_features=sqrt, splitter=best .................
[CV]  criterion=mae, max_features=sqrt, splitter=best, score=0.677, total=   0.0s
[CV] criterion=mae, max_features=sqrt, splitter=best .................
[CV]  criterion=mae, max_features=sqrt, splitter=best, score=0.662, total=   0.0s
[CV] criterion=mae, max_features=sqrt, splitter=best .................
[CV]  criterion=mae, max_features=sqrt, splitter=best, score=0.567, total=   0.0s
[CV] criterion=mae, max_features=sqrt, splitter=random ...............
[CV]  criterion=mae, max_features=sqrt, splitter=random, score=0.590, total=   0.0s
[CV] criterion=mae, max_features=sqrt, splitter=random ...............
[CV]  criterion=mae, max_features=sqrt, splitter=random, score=0.723, total=   0.0s
[CV] criterion=mae, max_features=sqrt, splitter=random ...............
[CV]  criterion=mae, max_features=sqrt, splitter=random, score=0.566, total=   0.0s
[CV] criterion=mae, max_features=log2, splitter=best .................
[CV]  criterion=mae, max_features=log2, splitter=best, score=0.684, total=   0.0s
[CV] criterion=mae, max_features=log2, splitter=best .................
[CV]  criterion=mae, max_features=log2, splitter=best, score=0.618, total=   0.0s
[CV] criterion=mae, max_features=log2, splitter=best .................
[CV]  criterion=mae, max_features=log2, splitter=best, score=0.609, total=   0.0s
[CV] criterion=mae, max_features=log2, splitter=random ...............
[CV]  criterion=mae, max_features=log2, splitter=random, score=0.614, total=   0.0s
[CV] criterion=mae, max_features=log2, splitter=random ...............
[CV]  criterion=mae, max_features=log2, splitter=random, score=0.687, total=   0.0s
[CV] criterion=mae, max_features=log2, splitter=random ...............
[CV]  criterion=mae, max_features=log2, splitter=random, score=0.611, total=   0.0s
[CV] criterion=friedman_mse, max_features=auto, splitter=best ........
[CV]  criterion=friedman_mse, max_features=auto, splitter=best, score=0.707, total=   0.0s
[CV] criterion=friedman_mse, max_features=auto, splitter=best ........
[CV]  criterion=friedman_mse, max_features=auto, splitter=best, score=0.642, total=   0.0s
[CV] criterion=friedman_mse, max_features=auto, splitter=best ........
[CV]  criterion=friedman_mse, max_features=auto, splitter=best, score=0.704, total=   0.0s
[CV] criterion=friedman_mse, max_features=auto, splitter=random ......
[CV]  criterion=friedman_mse, max_features=auto, splitter=random, score=0.604, total=   0.0s
[CV] criterion=friedman_mse, max_features=auto, splitter=random ......
[CV]  criterion=friedman_mse, max_features=auto, splitter=random, score=0.703, total=   0.0s
[CV] criterion=friedman_mse, max_features=auto, splitter=random ......
[CV]  criterion=friedman_mse, max_features=auto, splitter=random, score=0.676, total=   0.0s
[CV] criterion=friedman_mse, max_features=sqrt, splitter=best ........
[CV]  criterion=friedman_mse, max_features=sqrt, splitter=best, score=0.721, total=   0.0s
[CV] criterion=friedman_mse, max_features=sqrt, splitter=best ........
[CV]  criterion=friedman_mse, max_features=sqrt, splitter=best, score=0.712, total=   0.0s
[CV] criterion=friedman_mse, max_features=sqrt, splitter=best ........
[CV]  criterion=friedman_mse, max_features=sqrt, splitter=best, score=0.706, total=   0.0s
[CV] criterion=friedman_mse, max_features=sqrt, splitter=random ......
[CV]  criterion=friedman_mse, max_features=sqrt, splitter=random, score=0.609, total=   0.0s
[CV] criterion=friedman_mse, max_features=sqrt, splitter=random ......
[CV]  criterion=friedman_mse, max_features=sqrt, splitter=random, score=0.598, total=   0.0s
[CV] criterion=friedman_mse, max_features=sqrt, splitter=random ......
[CV]  criterion=friedman_mse, max_features=sqrt, splitter=random, score=0.692, total=   0.0s
[CV] criterion=friedman_mse, max_features=log2, splitter=best ........
[CV]  criterion=friedman_mse, max_features=log2, splitter=best, score=0.672, total=   0.0s
[CV] criterion=friedman_mse, max_features=log2, splitter=best ........
[CV]  criterion=friedman_mse, max_features=log2, splitter=best, score=0.636, total=   0.0s
[CV] criterion=friedman_mse, max_features=log2, splitter=best ........
[CV]  criterion=friedman_mse, max_features=log2, splitter=best, score=0.709, total=   0.0s
[CV] criterion=friedman_mse, max_features=log2, splitter=random ......
[CV]  criterion=friedman_mse, max_features=log2, splitter=random, score=0.653, total=   0.0s
[CV] criterion=friedman_mse, max_features=log2, splitter=random ......

[CV]  criterion=friedman_mse, max_features=log2, splitter=random, score=0.579, total=   0.0s
[CV] criterion=friedman_mse, max_features=log2, splitter=random ......
[CV]  criterion=friedman_mse, max_features=log2, splitter=random, score=0.679, total=   0.0s

[Parallel(n_jobs=1)]: Done  54 out of  54 | elapsed:    0.7s finished

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=DecisionTreeRegressor(criterion='mse', max_depth=None,
                                             max_features=None,
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             presort=False, random_state=None,
                                             splitter='best'),
             iid='warn', n_jobs=1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [8]:
#print the best parameter after tunning
#print(grid.best_params_)
re=grid.cv_results_ 
print("The R_Score value for best parameter {}:".format(grid.best_params_))

The R_Score value for best parameter {'criterion': 'friedman_mse', 'max_features': 'sqrt', 'splitter': 'best'}:

In [9]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.005667,4.713704e-04,0.002667,4.714266e-04,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.701538,0.643777,0.694277,0.679864,0.025689,7
1,0.004667,9.427969e-04,0.002667,4.713704e-04,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.659291,0.684318,0.706992,0.683534,0.019482,6
2,0.005334,4.713704e-04,0.002333,4.713704e-04,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.701929,0.707381,0.724552,0.711287,0.009640,3
3,0.004667,4.713142e-04,0.002333,4.714827e-04,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.664149,0.669320,0.611850,0.648440,0.025959,12
4,0.005000,1.946680e-07,0.002667,4.714828e-04,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.673819,0.593458,0.687169,0.651482,0.041390,11
5,0.004334,4.713142e-04,0.002000,1.123916e-07,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.759386,0.671896,0.705071,0.712118,0.036064,2
6,0.035002,2.449507e-03,0.002667,4.713704e-04,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.689919,0.722641,0.673346,0.695302,0.020482,4
7,0.025001,1.123916e-07,0.002667,9.428531e-04,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.660544,0.646596,0.701509,0.669550,0.023305,9
8,0.023001,2.160274e-03,0.002667,4.715952e-04,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.677322,0.661710,0.566598,0.635210,0.048933,16
9,0.017334,1.247129e-03,0.002667,4.714266e-04,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.590453,0.722544,0.566357,0.626451,0.068656,18
10,0.021334,4.713142e-04,0.002000,0.000000e+00,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.684331,0.618323,0.609098,0.637251,0.033503,13
11,0.018668,2.054849e-03,0.002667,4.714266e-04,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.613952,0.686502,0.610650,0.637034,0.035004,15
12,0.006000,1.123916e-07,0.002334,4.715951e-04,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.707084,0.641562,0.703834,0.684160,0.030150,5
13,0.004000,1.123916e-07,0.003000,1.123916e-07,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.604270,0.702567,0.675526,0.660788,0.041461,10
14,0.005334,4.714827e-04,0.002000,0.000000e+00,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.720834,0.711843,0.705637,0.712771,0.006239,1
15,0.004667,4.714827e-04,0.002000,2.247832e-07,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.609213,0.598350,0.691913,0.633159,0.041782,17
16,0.005000,1.123916e-07,0.002000,1.123916e-07,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.672364,0.636262,0.709231,0.672619,0.029790,8
17,0.004667,9.428531e-04,0.002333,4.714266e-04,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.652895,0.579403,0.678815,0.637038,0.042105,14

In [10]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
Children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:56
BMI:35
Children:3
Sex Male 0 or 1:1
Smoker Yes 0 or 1:1

In [11]:
Future_Prediction=grid.predict([[age_input,bmi_input,Children_input,sex_male_input,smoker_yes_input]]) #change the parameter
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[43813.8661]

######